.is-animated-display {
    transition: visibility 0s, opacity 2s linear;
}


@media only screen and (max-width: 1024px) {
    .has-mobile-padding {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

