# This is a basic workflow to help you get started with Actions

name: K8s Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  

jobs:

  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Kubernetes set context
        uses: Azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Docker Login
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Docker
        run: |
          IMAGE=rtodo/app
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE
          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          docker build . -f src/App/Dockerfile -t $IMAGE_ID:${{github.run_number}}
          docker push $IMAGE_ID:${{github.run_number}}
          export PUSHED_IMAGE=$IMAGE_ID:${{github.run_number}}

      - name: Apply Configuration
        run: |
          sed -i -e  "s@<COSMOS_CONN_STRING>@${{ secrets.COSMOS_CONN_STRING }}/@g" "deploy/config.yml"
          sed -i -e  "s@ghcr.io/mumby0168/rtodo/app:latest@$PUSHED_IMAGE/@g" "deploy/config.yml"
      
      - name: Apply K8s
        run: |
          kubectl apply -f ./deploy/
